[submodule "monokai.terminal"]
	path = monokai.terminal
	url = https://github.com/stephenway/monokai.terminal.git
[submodule "vim"]
	path = vim
	url = https://github.com/RobbieClarken/vim.git
[submodule "nvm"]
	path = nvm
	url = https://github.com/creationix/nvm.git
