[submodule "monokai.terminal"]
	path = monokai.terminal
	url = https://github.com/stephenway/monokai.terminal.git
[submodule "vim"]
	path = vim
	url = https://github.com/RobbieClarken/vim.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
