snippet tox
[tox]
envlist = py36, flake8, coverage

[testenv]
deps = pytest
commands = pytest

[testenv:flake8]
deps = flake8
commands = flake8

[testenv:coverage]
deps = pytest-cov
commands = pytest --cov=src --cov-report html

[flake8]
max-line-length = 100
exclude = migrations
endsnippet


snippet flake8
[flake8]
max-line-length = 100
exclude = migrations
endsnippet


snippet uwsgi
[uwsgi]
http = :8000
wsgi-file = app.py
callable = app
virtualenv = .venv
py-autoreload = 1
endsnippet
