snippet allow
#![allow(dead_code,unused_variables,unused_imports)]

endsnippet


snippet d
dbg!($1);
endsnippet


snippet p
println!("$1{:?}", $2);
endsnippet


snippet pp
println!("$1: {:?}", $1$2);
endsnippet

snippet tests
#[cfg(test)]
mod tests {
	use super::*;

	#[test]
	fn test$1() {
		$0
	}
}
endsnippet

snippet drop
impl Drop for $1 {
	fn drop(&mut self) {
		println!("drop $1");
	}
}
endsnippet
